$background-color: #26292b;
$background-blur: #ffffff05;

$primary-color-200: #2e3239da;
$primary-color-400: #2e3239;

$secondary-color: #5f7adb;

$accebt-color: #a2b2ee;

$color-neutral-0: #fff;
$color-neutral-200: #e1e1e1;
$color-netural-900: #000;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
